* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

html {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

header {
  width: 100%;
  min-height: 80px;
  background: rgb(50, 95, 160);
  border-bottom: 8px solid rgb(15, 50, 125);
  word-wrap: break-word;
}

header h1 {
  text-align: center;
  line-height: 80px;
  color: rgb(255, 255, 255);
}

select::-ms-expand{
    display: none;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: rgb(170, 170, 170);
}

footer p {
  text-align: center;
  line-height: 30px;
}

.container {
  width: 80%;
  height: 50%;
  margin: 10%;
  margin-top: 100px;
}

.menu {
  position: relative;
  width: 100%;
  height: 50px;
  display: table;
}

.item {
  position: relative;
  display: table-cell;
}

#i1, #i2 {
  position: relative;
  display: table-cell;
  width: 50%;
}

.selection-box {
    display: inline-block;
    width: 100%;
    height: 50px;
}

.selection-box::after{
    content: "";
    display: inline-block;
    border-top: 10px solid rgb(170, 170, 170);
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position: absolute;
    top:calc(50% - 5px);
    right:.5rem;
    z-index: -1;
    pointer-events: none;
}

.selection {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
  background: transparent;
  font-size: 15px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.selection:focus {
  outline: none;
}

.btn {
  width: 100%;
  height: 25px;
  border: 1px solid rgb(170, 170, 170);
  color: rgb(0, 0, 0);
  background: rgb(220, 220, 220);
  transition: 0.3s linear;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(170, 170, 170);
}

.btn:active {
  background: rgb(120, 120, 120);
}

.content {
  position: relative;
  width: 100%;
  height: 450px;
  display: table;
}

.box {
  position: relative;
  display: table-cell;
  width: 50%;
  height: 100%;
}

.keybox {
  width: 100%;
  height: 50px;
  position: relative;
  resize: none;
  outline: none;
  box-sizing: border-box;
  padding: 6px 10px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  resize: none;
}

.textbox {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
}

.textbox:focus {
  outline: none !important;
  box-shadow:none !important;
}
